bin
Bin
include
lib
obj
Debug
Release
generated-sources
_ReSharper.*
*.ncb
*.user
*.suo
*.log
dlldata*
*.tlb
*_i.*
*_p.*
*ps.dll
*ps.exp
*ps.lib
src/docs
*.orig
currentBuildNumber.gen
src/PhantomJS
.idea/*
.DS_Store
*.iml
*.ipr
*.iws
*~
Publish/*
TestResult.xml
*.nupkg
packages
node_modules
