/* Styles go here */

img {
	max-width:100%;
}

body {
    background-color:#E6E6FA; /* Lavender */
}

.page-header {
    color: Blue;
	font-style: italic;
	text-align: center;
}

.message {
  color: Blue;
}

.table-hover > tbody > tr:hover {
  background-color: aqua;
}

/*
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #999;
}

*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

